*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-flex{
    display: flex;

}
header{
    margin-bottom: 2rem;
    background-color:#b4d0e7 ;
}

.header-nav{
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;

}

.divisione-nav {
    align-items: center;
    justify-content: center;
}

.dropbox-presentazione{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    
}

.jumbotron-img{
    width:500px ;
    height:auto ;

}

.jumbotron-descrizione{
    width: 300px;
}

.titolo-jumbotron{
    font-size: 3.5rem;
    margin-top: 2rem;
    padding:0 15rem;
}


.jumbotron{
    margin-top: 4rem;
    

}

.fattura{
    margin-bottom: 4rem;
}


.piano-business{
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    
}

.singolo,.team,.azienda{
    width: 300px;
    justify-content: center;
    border: solid black;
    padding: 1rem;
    margin-bottom: 1rem;

}

.enterprise{
    border: solid black;
    width: 1000px;
    height: 200;
}

.small-width{
    max-width: 1000px;
    margin:0 auto;
}

.partner{
    margin-top: 4rem;
}

.partner-img{
    width: 450px;
    height: auto;
}

.descrizione-partner{
    width: 300px;
    margin:2rem  2rem;
}
.business-conteiner{
    flex-wrap: wrap;
}
.business-titolo{
    margin-top: 4rem;
}

.business-conteiner>article>img,.business-conteiner>article{
    width:300px ;
    height: auto;
    margin-top: 2rem;

}

.clienti{
    margin-top: 5rem;
}

.titolo-clienti{
    margin-bottom: 2rem;
}
.img-logo{
    width:400px ;
    flex-wrap: wrap;
}

.img-logo>article{
    width: 200px;
    height: 200px;
}

.designt-conteiner{
    background-color:#a2d39b ;
}

.arizona-conteiner{
    background-color: #61082b;

}

.florida-conteiner{
    background-color: #0093ce;
}

.topps-conteiner{
    background-color: #ff1c1c;
}
.designt,.arizona,.topps{
    width: 100px;
    height: auto;
}

.florida{
    width: 150px;
    height: 30px;
}

.designt-conteiner,.arizona-conteiner,.florida-conteiner,.topps-conteiner{
    justify-content: center;
    align-items: center;
}

.descrizione-team{
    width:480px ;
}

.titolo-prova-gratuita{
    justify-content: space-between;
}

.prova-gratuita{
    background-color:#b4d0e7 ;
    height:200px ;
    align-items: center;
}

.domande{
    margin-top: 4rem;
}