*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.display-flex{
    display: flex;

}
header{
    margin-bottom: 2rem;
    background-color:#b4d0e7 ;
    height: 535px;
}

.header-nav{
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-top: 1rem ;
    padding-bottom: 1rem;

}

.divisione-nav {
    align-items: center;
    justify-content: center;
}
ul{
    list-style: none;
    font-size: .7rem;
}
nav ul li a{
    text-decoration: none;
    color: #434343;
    margin-left: 2rem;

}

.logo{
    width: 20%;
}

.inizia{
    background-color: #0061ff;
    color: white;
    font-size: .7rem;
    border: none;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 25px;
    width: 50px;
}

.dropbox-presentazione{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    
}

.jumbotron-img{
    width:535px ;
    height:auto ;

}

.jumbotron-descrizione{
    width: 260px;
    font-size: .65rem;
    padding-right: .8rem;
}

.annulla{
    margin-top: 1rem;
}
.titolo-jumbotron{
    font-size: 3.3rem;
    margin-top: 2rem;
   
}


.jumbotron{
    margin-top: 3rem;
    

}

.button-jumbotron{
    margin-top: 1rem;
    background-color: #0061ff ;
    color: white;
    border: none;
    font-size: .65rem;
    width: 150px;
    height: 30px;
}

.fa-arrow-down{
    font-size: 2.5rem;
    margin-top: 2.5rem;
}

.fattura{
    margin-bottom: 4rem;
    margin-top:7rem ;
}

.titolo-fattura{
    font-size: 2rem;
}

input{
    margin-top:2.5rem ;
}
.abbonamento{
    margin-bottom: 1rem;
}

.margin-top{
    margin-top:.7rem;
}

.fattura article h2{
    margin-top:2rem;
}
.fa-check{
    color: #0061ff ;
}
.botton-fattura{
    font-size: .6rem;
    background-color: #0061ff;
    border: none;
    color: white;
    width: 150px;
    height: 30px;
}

.botton-fattura,.titolo-art-business{
    margin:2rem 0 1rem 0 ;
}



.piano-business{
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    font-size: .6rem;
}

.articole-qualifica{
    text-align: center;
}

.singolo,.team,.azienda{
    width: 185px;
    justify-content: center;
    border:1.5px solid #d0d0d3;
    padding: 1rem;
    margin-bottom: 1rem;

}

.enterprise{
    border:1.5px solid #d0d0d3;
    width: 650px;
    height: 185px;
    padding: 1rem;
}

.button-enterprise{
    align-items: flex-start;
    font-size: .6rem;
    background-color: #0061ff;
    border: none;
    color: white;
    width: 150px;
    height: 30px;
}
section article .hr1{
    padding:0;
}

.hr2{
    width:40px ;
    margin: 2rem 0;
}



.small-width{
    max-width: 650px;
    margin:0 auto;
}

.partner{
    margin-top: 4rem;
}

.partner-img{
    width: 450px;
    height: auto;
}

.descrizione-partner{
    width: 300px;
    margin:2rem  2rem;
}
.business-conteiner{
    flex-wrap: wrap;
}
.business-titolo{
    margin-top: 4rem;
}

.business-conteiner>article>img,.business-conteiner>article{
    width:300px ;
    height: auto;
    margin-top: 2rem;

}

.clienti{
    margin-top: 5rem;
}

.titolo-clienti{
    margin-bottom: 2rem;
}
.img-logo{
    width:30%;
    flex-wrap: wrap;
}

.img-logo>article{
    width: 50%;
    height: 50%;
}

article ul{
    font-size: .6rem;
}


.designt-conteiner{
    background-color:#a2d39b ;
}

.arizona-conteiner{
    background-color: #61082b;

}

.florida-conteiner{
    background-color: #0093ce;
}

.topps-conteiner{
    background-color: #ff1c1c;
}

.bicycle-conteiner{
    background-color: #d5001f;
}

.hearts-conteiner{
    background-color:#b4d0e7 ;
}

.lonely-conteiner{
    background-color: #0d2481;
}

.clear-conteiner{
    background-color:#ffd830 ;
}




.designt,.arizona,.topps{
    width: 100px;
    height: auto;
}

.florida{
    width: 150px;
    height: 30px;
}

.designt-conteiner,.arizona-conteiner,.florida-conteiner,.topps-conteiner,.bicycle-conteiner,.hearts-conteiner,.lonely-conteiner,.clear-conteiner{
    justify-content: center;
    align-items: center;
}

.descrizione-team{
    width:60%;
}

.titolo-prova-gratuita{
    justify-content: space-between;
}

.prova-gratuita{
    background-color:#b4d0e7 ;
    height:200px ;
    align-items: center;
}

.domande{
    margin-top: 4rem;
}

footer{
    margin-top: 5rem;
    background-color: #000000;
}

.nav-footer{
    width: 800px;
    margin: auto;
    color: white;
    
}

.nav-footer>ul{
    margin-top: 2rem;
    margin-left: 1rem;
}

.footer-hr{
    width: 120px;
}

.lingua{
    width: 800px;
    margin: auto;
    margin-top: 3rem ;
}

.lingua-pagina{
    color: white;
    padding: 1rem 0;
}